.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #240f32;
}

.PlayerCharacter {
  position: absolute;
  transform: rotateZ(0.25turn);
  transition: 100ms;
  user-select: none;
  align-self: center;
}

.Area {
  display: flex;
  background-color: blue;
  width: 100%;
  height: 300px;
  align-self: center;
}

.Player_Area {
  display: flex;
  flex: 1;
  background-color: green;
}
.NPC_Area {
  position: relative;
  flex: 2;
  background-color: red;
}

.NPC_Style {
  position: absolute;
  width: 70px;
  height: 70px;
  transform: rotateZ(0.25turn);
  transition: left 100ms;
}
